<?xml version="1.0" encoding="utf-8" ?>
<SCF>
	<Service name="drivert" id="1" maxThreadCount="50">
		<Commmunication>
			<SocketPool bufferSize="4096" minPoolSize="2" maxPoolSize="5"
				nagle="true" autoShrink="00:00:20" sendTimeout="00:00:10"
				receiveTimeout="00:00:09" waitTimeout="00:00:01" maxPakageSize="102400"
				protected="true" />
			<Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
		</Commmunication>
		<Loadbalance>
			<Server deadTimeout="00:00:10">
				<add name="scfSeoServer" host="192.168.118.56" port="16223" maxCurrentUser="50" />
			</Server>
		</Loadbalance>
	</Service>
</SCF>